<section class="card">
  <a href="/pet/{{pet.id}}">
    <header>{{pet.name}}</header>

    <div class="card-body">
      <p>Reported By: {{user.username}}</p>
      <br />
      <p>Date Reported: {{format_date date_added}}</p>
      <br />
      <h3>Pet Information</h3>
      <p>Type: {{type}}</p>
      <p>Breed: {{breed}}</p>
      <p>Age: {{pet.age}}</p>
      <p>Description: {{pet.description}}</p>
      <p>Owner Name: {{pet.owner_name}}</p>
      <p>Owner Phone: {{pet.owner_phone}}</p>
      <p>Owner Email: {{pet.owner_email}}</p>
      <br />
      <p>Reward: {{pet.reward}}</p>
    </div>
  </a>
</section>