<section class="card">
  <br>
  <a href="/pet/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <p>Reported By: {{user.username}}</p>
      <br>
      <p>Date Reported: {{format_date date_added}}</p>
      <br>
      <h3>Pet Information</h3>
      <p>Type: {{type}}</p>
      <p>Breed: {{breed}}</p>
      <p>Age: {{age}}</p>
      <p>Description: {{description}}</p>
      <p>Owner Name: {{owner_name}}</p>
      <p>Owner Phone: {{owner_phone}}</p>
      <p>Owner Email: {{owner_email}}</p>
      <br>
      <p>Reward: {{reward}}</p>
    </div>
  </a>
</section>