<div>
  <h1>Pet Lost & Found</h1>
  <p>Help me find my way home! </p>
  <hr class="my-4">
  <p>Did you recently lose a pet and need help finding it?</p>
  <p>Just click the button below to report your lost pet so other users can help you find it!</p>
  <a href="/profile" class="btn btn btn-lg reportBtn">Report Lost Pet</a>
</div>
<div class="container text-center my-4">

  <form
    id="input"
    class="form-inline my-2 my-lg-0 d-flex justify-content-center"
  >
    <input
      class="searchfield"
      class="form-control mr-sm-2"
      type="search"
      placeholder="search for lost pet"
      aria-label="search"
    />
    <button
      id="searchbutton"
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
    >search</button>
  </form>

  {{#if pets.length}}
    <div class="container">
      <h2 class="border-bottom pb-2">Lost pets</h2>
      <div class="row d-flex justify-content-center">
        {{#each pets as |pet|}}
          {{#unless pet.isFound}}
            <div class="card m-3 text-center col-md-5 col-lg-3" id="spawnCards">
              <div class="card-body border-bottom">
                <h5>{{capitalize pet.name}}</h5>
                <small class="text-muted">Posted by
                  {{capitalize pet.user.username}}</small>
                <br />
                <small class="text-muted">Date Posted:
                  {{format_date pet.date_added}}</small>
              </div>
              <div class="py-3" id="card-footer">
                <a
                  id="viewPet"
                  href="../api/pet/{{pet.id}}"
                  class="btn btn-primary"
                >View Pet</a>
              </div>
            </div>
          {{/unless}}
        {{/each}}
      </div>
    </div>

  {{else}}
    <h1>No reported lost pets</h1>
  {{/if}}
</div>


<script src="/js/search.js"></script>

