<dic class="container my-3">
    <div class="card m-3">
        <div class="card-body border-bottom">
            <div class="card-title border-bottom d-flex justify.content-between">
                <h2 id="petName">{{capitalize pet.name}}</h2>
            </div>
            <p class="card-text lead">{{pet.description}}</p>
            <div class="text-right">
                <h4>Reward: ${{pet.reward}}</h4>
                <a id="foundbtn" href="" class="btn btn-success" data-user="{{pet.user_id}}" data-item="{{pet.id}}" data-current="{{user}}" data-isLoggedIn="{{logged_in}}" data-isFound="true">Mark as Found</a>
            </div>
        </div>
    </div>
</dic>

<script src="/js/found.js"></script>